<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>bangmaple.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>bangmaple.others.BackgroundJobManager</listener-class>
    </listener>
    <context-param>
        <param-name>
            host
        </param-name>
        <param-value>
            smtp.gmail.com
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            port
        </param-name>
        <param-value>
            587
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            user
        </param-name>
        <param-value>
            bangnnse140937@fpt.edu.vn
        </param-value>
    </context-param>
    <context-param>
        <param-name>
            pass
        </param-name>
        <param-value>
            Nhatrang1
        </param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>bangmaple.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookServlet</servlet-name>
        <servlet-class>bangmaple.servlets.FacebookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>bangmaple.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>bangmaple.controllers.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>bangmaple.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>bangmaple.controllers.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>bangmaple.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>bangmaple.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUsersTable</servlet-name>
        <servlet-class>bangmaple.servlets.LoadUsersTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>bangmaple.servlets.EmailSendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>bangmaple.servlets.ForgetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>bangmaple.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserServlet</servlet-name>
        <servlet-class>bangmaple.servlets.CheckExistUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvalidUsernamePasswordServlet</servlet-name>
        <servlet-class>bangmaple.servlets.InvalidUsernamePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccountServlet</servlet-name>
        <servlet-class>bangmaple.servlets.ActivateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckValidEmailServlet</servlet-name>
        <servlet-class>bangmaple.servlets.CheckValidEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLoginServlet</servlet-name>
        <servlet-class>bangmaple.servlets.ValidateLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>bangmaple.controllers.users.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableUserController</servlet-name>
        <servlet-class>bangmaple.controllers.users.DisableUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomListController</servlet-name>
        <servlet-class>bangmaple.controllers.room.RoomListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentListController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.EquipmentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEquipmentController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.AddEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>bangmaple.controllers.users.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>bangmaple.controllers.room.DeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEquipmentController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.DeleteEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminDashboardServlet</servlet-name>
        <servlet-class>bangmaple.servlets.LoadAdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadTechnicianDashboardServlet</servlet-name>
        <servlet-class>bangmaple.servlets.LoadTechnicianDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserDashboardServlet</servlet-name>
        <servlet-class>bangmaple.servlets.LoadUserDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>bangmaple.controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableEquipmentController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.DisableEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableRoomController</servlet-name>
        <servlet-class>bangmaple.controllers.room.DisableRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomController</servlet-name>
        <servlet-class>bangmaple.controllers.room.AddRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>bangmaple.controllers.users.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMoreEquipInfoController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.ViewMoreEquipInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveImageServlet</servlet-name>
        <servlet-class>bangmaple.resources.SaveImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryController</servlet-name>
        <servlet-class>bangmaple.controllers.QueryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableItemController</servlet-name>
        <servlet-class>bangmaple.controllers.DisableItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEquipmentController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.UpdateEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomController</servlet-name>
        <servlet-class>bangmaple.controllers.room.UpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>bangmaple.controllers.users.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingController</servlet-name>
        <servlet-class>bangmaple.controllers.ShoppingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToRoomController</servlet-name>
        <servlet-class>bangmaple.controllers.room.addToRoom.AddToRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepairingHistoryController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.history.RepairingHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentStatisticsController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.statistics.EquipmentStatisticsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeEquipmentLocationController</servlet-name>
        <servlet-class>bangmaple.controllers.users.using.ChangeEquipmentLocationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepairEquipmentsController</servlet-name>
        <servlet-class>bangmaple.controllers.users.repair.RepairEquipmentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>bangmaple.controllers.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwoFactorAuthenticationServlet</servlet-name>
        <servlet-class>bangmaple.servlets.TwoFactorAuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSettingsController</servlet-name>
        <servlet-class>bangmaple.controllers.UserSettingsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationServlet</servlet-name>
        <servlet-class>bangmaple.servlets.AuthenticationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrentWorkingPlaceController</servlet-name>
        <servlet-class>bangmaple.controllers.users.working.CurrentWorkingPlaceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestRepairEquipmentController</servlet-name>
        <servlet-class>bangmaple.controllers.users.working.RequestRepairEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagesController</servlet-name>
        <servlet-class>bangmaple.controllers.MessagesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMoreUsersWorkingController</servlet-name>
        <servlet-class>bangmaple.controllers.users.working.ViewMoreUsersWorkingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseRepairEquipmentController</servlet-name>
        <servlet-class>bangmaple.controllers.users.repair.ResponseRepairEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEquipmentHistoryController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.history.AdminEquipmentHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipmentHistoryController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.history.EquipmentHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRequestRepairMessages</servlet-name>
        <servlet-class>bangmaple.controllers.users.repair.ShowRequestRepairMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepairHistoryController</servlet-name>
        <servlet-class>bangmaple.controllers.users.repair.RepairHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLocationHistoryController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.history.AdminLocationHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEquipmentHistoryController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.history.UserEquipmentHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechEquipmentHistoryController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.history.TechEquipmentHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEquipmentStatisticsController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.statistics.UserEquipmentStatisticsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechEquipmentStatisticsController</servlet-name>
        <servlet-class>bangmaple.controllers.equipments.statistics.TechEquipmentStatisticsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowResponseRepairMessages</servlet-name>
        <servlet-class>bangmaple.controllers.users.repair.ShowResponseRepairMessages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookServlet</servlet-name>
        <url-pattern>/FacebookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUsersTable</servlet-name>
        <url-pattern>/LoadUsersTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/ForgetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserServlet</servlet-name>
        <url-pattern>/GetUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvalidUsernamePasswordServlet</servlet-name>
        <url-pattern>/InvalidUsernamePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccountServlet</servlet-name>
        <url-pattern>/activateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckValidEmailServlet</servlet-name>
        <url-pattern>/CheckValidEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLoginServlet</servlet-name>
        <url-pattern>/ValidateLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/userManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableUserController</servlet-name>
        <url-pattern>/DisableUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomListController</servlet-name>
        <url-pattern>/roomManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentListController</servlet-name>
        <url-pattern>/equipmentManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEquipmentController</servlet-name>
        <url-pattern>/AddEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/DeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEquipmentController</servlet-name>
        <url-pattern>/DeleteEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminDashboardServlet</servlet-name>
        <url-pattern>/adminDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadTechnicianDashboardServlet</servlet-name>
        <url-pattern>/techDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserDashboardServlet</servlet-name>
        <url-pattern>/userDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableEquipmentController</servlet-name>
        <url-pattern>/DisableEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableRoomController</servlet-name>
        <url-pattern>/DisableRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomController</servlet-name>
        <url-pattern>/AddRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/AddUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMoreEquipInfoController</servlet-name>
        <url-pattern>/ViewMoreEquipInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveImageServlet</servlet-name>
        <url-pattern>/SaveImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryController</servlet-name>
        <url-pattern>/QueryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableItemController</servlet-name>
        <url-pattern>/DisableItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEquipmentController</servlet-name>
        <url-pattern>/UpdateEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomController</servlet-name>
        <url-pattern>/UpdateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingController</servlet-name>
        <url-pattern>/ShoppingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToRoomController</servlet-name>
        <url-pattern>/AddToRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepairingHistoryController</servlet-name>
        <url-pattern>/repairingHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentStatisticsController</servlet-name>
        <url-pattern>/equipmentStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeEquipmentLocationController</servlet-name>
        <url-pattern>/changeEquipmentLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepairEquipmentsController</servlet-name>
        <url-pattern>/RepairEquipmentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwoFactorAuthenticationServlet</servlet-name>
        <url-pattern>/TwoFactorAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSettingsController</servlet-name>
        <url-pattern>/UserSettingsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationServlet</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrentWorkingPlaceController</servlet-name>
        <url-pattern>/workingPlace</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestRepairEquipmentController</servlet-name>
        <url-pattern>/requestRepair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagesController</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMoreUsersWorkingController</servlet-name>
        <url-pattern>/viewMoreUsersWorking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseRepairEquipmentController</servlet-name>
        <url-pattern>/responseRepair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEquipmentHistoryController</servlet-name>
        <url-pattern>/adminEquipmentHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipmentHistoryController</servlet-name>
        <url-pattern>/equipmentHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRequestRepairMessages</servlet-name>
        <url-pattern>/showReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepairHistoryController</servlet-name>
        <url-pattern>/repairHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLocationHistoryController</servlet-name>
        <url-pattern>/adminLocationHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEquipmentHistoryController</servlet-name>
        <url-pattern>/userEquipmentHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechEquipmentHistoryController</servlet-name>
        <url-pattern>/techEquipmentHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEquipmentStatisticsController</servlet-name>
        <url-pattern>/userEquipmentStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechEquipmentStatisticsController</servlet-name>
        <url-pattern>/techEquipmentStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowResponseRepairMessages</servlet-name>
        <url-pattern>/showRes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Assignment_Spring2020</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
